[submodule "themes/almeida-cv"]
	path = themes/almeida-cv
	url = https://github.com/ineesalmeida/almeida-cv.git
[submodule "themes/paige"]
	path = themes/paige
	url = https://github.com/willfaught/paige
